@model Travel.Web.Models.Country

@Html.AdminBreadcrumbs("Edit " + Model.Name, "Countries", "AdminCountriesHome");

<header class="row admin-header">
    <h2>Edit @Model.Name</h2>
</header>

<div class="row">
    @using (Html.BeginRouteForm("CountryEdit"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "alert" })

        <div class="row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = " medium-2 columns" })
            <div class="medium-10 columns">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "", @list = "country-list" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "alert" })

                @Html.Partial("~/Views/Shared/_CountriesDataList.cshtml")
            </div>
        </div>

        @*@Html.HiddenFor(model => model.IsoCode)*@

        <div class="row">
            @Html.LabelFor(model => model.IsoCode, htmlAttributes: new { @class = " medium-2 columns" })

            <div class="medium-10 columns">
                @Html.EditorFor(model => model.IsoCode, new { htmlAttributes = new { @class = "", @maxlength = "2", @list = "iso-code-list" } })
                @Html.ValidationMessageFor(model => model.IsoCode, "", new { @class = "alert" })

                @Html.Partial("~/Views/Shared/_IsoCodesDataList.cshtml")
            </div>
        </div>

        <div class="row">
            <div class="medium-offset-2 medium-10 columns">
                <button type="submit" value="Edit" class="button success">
                    <span class="icon-save"></span> Save
                </button>
            </div>
        </div>

    }

    @Html.BackLink("Countries", "AdminCountriesHome")

  

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/country-form")
}